extends layout 
block content 
  center 
    h1= title 
    p #{error} 
    p Try to come back later or refresh the page 
    p Remember that this website is an alpha version and it's using a beta version of Google Vision API 
    a(href='/') Take me to the homepage!